#content {

}

#app {
  min-height: 250px;
  height: 300px;
}

#wizard-html {
    border: black solid 1px;
    width: 100%;
}


/* Utilities */

.selected {
    background-color: #a94442;
}

.cursor-pointer {
    cursor: pointer;
}

.markOnHover:hover {
    background-color: cadetblue;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.border-danger {
    border: solid 1px #a94442;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.wp-50 {
    width: 50%;
}

.wp-75 {
    width: 75%;
}

.wp-90 {
    width: 90%;
}

.wp-100 {
    width: 100%;
}

/* MARGIN */
.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-05 {
    margin-top: 5px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

/* PADDING */
.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.pl-1 {
    padding-left: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pl-3 {
    padding-left: 30px;
}

.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

/* DISPLAY */
.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.opacity-9 {
    opacity: .9;
}

.opacity-8 {
    opacity: .8;
}

.opacity-7 {
    opacity: .7;
}
